<div class="border border-dark text-center" style="width: 50%; margin: 0 auto; padding: 10px;">


<h2>Profil szerkesztése</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field mb-4">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field m-2">
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Új jelszó", title: "(hagyja üresen, ha nem akarja módosítani)" %>
  </div>

  <div class="field m-2">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Új jelszó újra" %>
  </div>

  <div class="field m-2">
    <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "Jelenlegi jelszó" %>
  </div>

  <div class="actions">
    <%= f.submit "Módosítás" %>
  </div>
<% end %>

<%= link_to "Vissza", :back %>
</div>