<div class="border border-dark p-2" style="height: 325px; display: flex; flex-direction: column; justify-content: space-around;">
    
    
    <% if land[:land].img_name %>
        <div style="overflow: hidden; height: 100%;">
            <%= image_tag(land[:land].img_name, alt: land[:land].name, class: "img-fluid mx-auto d-block mb-2 border border-dark") %>
        </div>
    <% end %>

    <div style="margin-top: auto;">
        <h3 class="m-0"><%= link_to land[:land].name, land_path(id: land[:land].id), style: "color: black;" %></h3>
        <div>
            <p class="p-0 m-0"><%= land[:record_count] %> zene</p>
            <p class="p-0 m-0"><%= land[:lyrics_count] %> dalszöveg</p>
            <p class="p-0 m-0"><%= land[:links_count] %> link</p>
        </div>
    </div>
</div>